.upload {
    background-color: gray;
    border-radius: 100px;
    color: white;
}

.button{
    background-color: gray;
    border-radius: 100px;
    color: white;
}

.chat{
    background-color: gray;
    border-radius: 100px;
    color: white;
}
